# MORE ON PRINTING

Printing is one of the important part in writing a program. It allows a programmer to understand if the program works perfectly. When writing a complex program, print statements can be used to debug and identify critical and faulty code fragments.

The previous segment showed how to print out words, numbers and a combination of both. In this segment the escape sequences are discussed

#### Escape sequences

Escape sequences are a sequence of characters that does not represent itself when used inside a character or string literal, but is translated into another character or a sequence of characters that may be difficult or impossible to represent directly.

The common escape sequences used in Python are

| Character | Sequence | Description |
| :- | :- | :-: |
| Newline | \n | Begins a new line |
| Backslash | \\\ | Displays a backslash |
| Single Quote| \\' | Displays a single quote |
| Double Quote| \\" | Displays a double quote |
| Backspace | \\b | Cursor goes back on display|
| Horizontal Tab| \\t | Puts a horizontal tab |
| Vertical Tab | \\v | Puts a vertical tab |

Using the print statement and escape sequences (newline, single quote, double quote, horizontal tab), one of the **quotes by Albert Einstein** is coded

Execute the code below **ctrl+Enter**

In [ ]:
print ('Albert Einstein is my favourite Scientist/Physist. He once told:\n\n\t\"Two things are infinite:\n\tthe universe and human stupidity;')
print ('\t\tand I\'m not sure about the universe.\"')

Using the print statement and escape sequences, a **table** can be displayed with Python

Execute the code below **ctrl+Enter**

In [ ]:
print ('Name\t\t|\tNumber of Chocolate')
print ('Avinash\t\t|\t 66')
print ('Akash\t\t|\t 44')
print ('Adharsh\t\t|\t 74')
print ('Sri Priya\t|\t 135')

Incase you want to clear the outputs and reset the codes, go to Kernel at top and select Restart Kernel and Clear all Outputs...

# Assignment

1. With print statement and escape sequences print out the following lines

When I try to use algorithm "to calculate" the result of '3*2': <br> 
I end up with some wrong result. &emsp; &emsp; And the interesting <br>
"thing" is the answer is always $10.

2. With print statement and escape sequences print out the following table

| Student | Maths | Science | English | Tamil | Social Studies|
| :- | :-: | :-: | :-:| :-: | :-: |
|Markus | 79 | 65 | 88 | 73 | 55 |
|Julie | 62 | 77 | 84 | 76 | 92 |
|Fernandes | 55 | 88 | 91 | 73 | 76 |
|Thomas | 68 | 87 | 65 | 65 | 86 |
|Walter | 88 | 77 | 87 | 66 | 76 |
|Andreas | 67 | 71 | 88 | 92 | 87 |